/*Color global attributes */
html * {
  color:                  #999;
}

html {
  background:             #222;
}

a:link {
  color:                  #BBB;
}

a:visited {
  color:                  #777;
}

a:focus, a:hover, a:active {
  color:                  #990202;
}

h1 {
  color:                  #D5D5D5;
  
}

h2 {
  color: #999 ;
}

h3, h3 a {
  color:                  #555;
}

h4, h4 a {
  color:                  #990202;
}
/* /Color global attributes */


/* Header tabbed menu */
#header {
  background:             #111 url(../images/header_background.png) top repeat-x;
}

#header h1#logo_screen  {
  background:             #990202 url(../images/logo_background.gif) repeat-x;
}

#header h1#logo_screen a, 
#header h1#logo_screen a img  {
  color:                  #EEE;
}
#header h1#logo_screen a:hover, 
#header #logo_screen a:hover img {
  color:                  #FFF;
}

#header li {
  background:             #222 url(../images/tab_corner_left.gif) no-repeat bottom left;
}

#header li a {
	color:                  #d5d5d5;
  background:              url(../images/tab_corner_right2.gif) no-repeat right bottom;
}

#header li a:visited {
  color:                  #777;
}
#header li a:hover {
  color:                  #990202;
}
#header li a:active {
  color:                  #990202;
}

#header li.current {
	background-color:       #990202;
	background-image:       url(../images/tab_corner_left_current.gif);	
}

#header li.current a, #header li.current a:visited {
	color:                  #FFFFFF;
	background-image:       url(../images/tab_corner_right_current.gif);
}
/* /Header tabbed menu */


/* Main content top segment */
#main_content {
  background:       #333 url(../images/main_content_background.png) no-repeat top left;
}

#go_back_to_thumbnails {
	background:             transparent url(../images/arrow_left.gif) no-repeat left center;
	color:					#CCCCCC;
}

#go_back_to_thumbnails:hover {
	background:             transparent url(../images/arrow_left_hover.gif) no-repeat left center;
	color:					#fff;
}


#go_to_gallery {
	background:             transparent url(../images/gallery_album.gif) no-repeat left center;
}

#see_data_sheet {
	background:             transparent url(../images/arrow_down.gif) no-repeat left center;
	color: #CCCCCC;
}

#see_data_sheet:hover {
	background:             transparent url(../images/arrow_down_hover.gif) no-repeat left center;
	color: #fff;
}

/* /Main content top segment */


/* Thumbnails */
#gallery ul#thumbnails li {
	background: url(../images/thumbnail_box_gallery.gif);
}

#search ul#thumbnails li {
	background: url(../images/thumbnail_box_gallery.gif);
}

body.videos ul#thumbnails li {
	background: url(../images/thumbnail_box_videos.gif);
}

body.videos ul#thumbnails li div a {
	background:             #000 url(../images/thumbnail_box_background.gif) no-repeat;
}

body.videos ul#thumbnails li div a:hover {
	background:             #990202 url(../images/thumbnail_box_hover.gif);
}

body.videos ul#thumbnails li div a:visited {
	background:             #000 url(../images/thumbnail_box_visited.gif);
}

body.videos #thumbnails h3 a {
	color: #fff;
}

body.videos #thumbnails h3 a:hover, body.videos #thumbnails h4 a {
	color: #e3680a;
}

ul#thumbnails li div a {
	background:             #000 url(../images/thumbnail_box_background.gif) no-repeat;
}

ul#thumbnails li div a:visited {
	background:             #000 url(../images/thumbnail_box_visited.gif);
}
ul#thumbnails li div a:hover {
	background:             #990202 url(../images/thumbnail_box_hover.gif);
}

ul#thumbnails li {
	background: url(../images/thumbnail_box.gif);
}

ul#thumbnails a img, 
#thumbnails label {
	color:                  #fff;
}

ul#thumbnails a:hover img, 
ul#thumbnails a:hover label {
	color:                  #FFF;
}
/* /Thumbnails */


/* Summary */
#summary, #about_us, #data_sheet, body.application #main_content ul, #picture_description {
	background-color:       #000;
	border-color:           #555;
}

#summary p, #picture_description p {
	color:           #ccc;
}

/* /Summary */


/* Link to Selection */
#go_to_selection a {
	background:             #000 url(../images/select_pictures.gif) no-repeat top left;
}
#go_to_selection a:link, 
#go_to_selection a:visited {
  color: #FFFFFF;
}

#go_to_selection a:hover {
  color:                  #990202;
}
/* /Link to Selection */


/* Paging */
.pages {
  background-color:       #555;
  border-color:           #ccc;
}

.pages a:link {
	color:#ddd;
}

.pages a:visited {
  color:                  #999;
}

.pages a.previous {
  background:             transparent url(../images/arrow_left.gif) no-repeat left center;
}
.pages a.previous:visited,
.pages a.next:visited {
	color:                  #999;
}
.pages a.previous:hover {
  background-image:       url(../images/arrow_left_hover.gif);
}
.pages a.next {
  background:             transparent url(../images/arrow_right.gif) no-repeat right center;
}
.pages a.next:hover {
  background-image:       url(../images/arrow_right_hover.gif);
}
.pages a:hover {
    background-color:     #990202;
}
.pages a:hover, 
.pages a.previous:hover,
.pages a.next:hover {
  color:                  #FFF;
}

.pages strong {
  color:                  #fff;
  background:			url(../images/pages_strong_background.gif) no-repeat center;
}
/* /Paging */


/* Data sheet */
#data_sheet li {
	color:                  #990202;
}

#data_sheet ul li dl dt, #data_sheet ul li dl dd  {
	color:                  #777;
}



/* /Data sheet */


/* Big picture, big video */
#big_picture, #big_video {
  border-color:           #333;
  background:             #333;
}

#big_picture a span, #big_video span {
	background:             transparent url(../images/arrow_previous.gif) no-repeat top right;
}
#big_picture a#previous:hover span, #big_video a#previous:hover span {
	background-image:       url(../images/arrow_previous_hover.gif);
}
#big_picture a#previous:active span, #big_video a#previous:active span {
	background-image:       url(../images/arrow_previous_active.gif);
}
#big_picture #next span, #big_video #next span {
	background:             transparent url(../images/arrow_next.gif) no-repeat top left;
}
#big_picture a#next:hover span, #big_video a#next:hover span {
	background-image:       url(../images/arrow_next_hover.gif);
}
#big_picture a#next:active span, #big_video a#next:active span {
	background-image:       url(../images/arrow_next_active.gif);
}

#big_picture img {
  color:                  #ccc;
	border-color:           #990202;
}

#big_picture label {
  background:             #990202;
  color:#FFFFFF;
}

#big_video label span {
  background:             none;
}
/* /Big picture, big video */


/* Tags */
#tags a {
  color:                  #ccc;
}

#tags a:visited {
  color:                  #7F6B43;
}

#tags a:hover {
  color:                  #fff;
  background-color:       #990202;
}
/* /Tags */


/* Selection */
.go_to_checkout a {
  color:                  #990202;
}

body#selection #selection_size, 
body#selection #selection_size label {
	color:                  #F6F0DB;
}

#cart_items {
	background:              url(../images/cart_itens.gif);
	border-color:           #990202;
}

#cart_items.text {
	background:              #161616 url(../images/selection_instructions.png) no-repeat center center;	
}

#all_pictures li label, #all_pictures li a, 
#cart_items label, #cart_items a, 
#selected_pictures label, #selected_pictures a {
	background-color:       #990202;
}

#selected_pictures a.remove_picture {
background: none;
}

#all_pictures label, #cart_items label, 
#selected_pictures label {
  color:                  #fff;
  	opacity:                .7;

}

#all_pictures a {
color:	#fff;
}

#all_pictures a:hover, 
#cart_items a:hover, 
#selected_pictures a:hover {
	background:             transparent url(../images/magnifying_glass.gif) no-repeat center center;
}

#selected_pictures a.remove_picture:hover {
	background:             none;
}

body#selection #selection_size label {
	background:             url(../images/tab_selection_size.gif) no-repeat left center;
}

.go_to_checkout {
	background:             transparent url(../images/shopping_cart.gif) no-repeat right center;
}

.go_to_checkout a {
	color: #fff;
}

.moved_to_cart {
	opacity:                .3;
}
/* /Selection */


/* Forms (contact, checkout, search) */
form label {
	background: none;
}

label {
	color:                  #fff;
	background-color:		#990202
}

input, textarea {
  color:                  #111;
	background-color:       #ddd;
	border-color:           #ccc;
}

input:hover, textarea:hover {
	border-color:           #fff;
}

input:active, input:focus,
textarea:active, textarea:focus {
	background-color:       #777;
	border-color:           #fff;
	color: #FFFFFF;
}

button {
  color:                  #fff;
	background-color:       #990202;
}
button:hover {
	border-color:           #7F6B43;
}

.submitting {
	color:                  #111;
	background:             #ccc url(../images/spinner_form.gif) no-repeat 95% center;
	border-color:           #EFE3C3;
}

.email_field_with_errors {
  color:                  #fff;
	background-color:       #BF667F;
}

#submit_error {
	background-color:       #990202;
}

#submit_success {
	background-color:       #000;
}

#submit_error, #submit_success {
  color:                  #fff;
}

/* Specific for global search form */
#global_search {
	background:             transparent url(../images/search_corner_left.gif) no-repeat left center;
}

#global_search fieldset {
	background:             transparent url(../images/search_corner_right.gif) no-repeat right center;
}

#global_search #query {
	color:                  #555;
  background:             #e5e5e5 url(../images/search_input_shading.gif) repeat-x left top;
}
/* /Forms (contact, checkout, search) */


/* Errors (404, 500, timeout, empty search results) */
body.application #main_content h2 {
	background:              url(../images/error_404.gif) no-repeat center top;
}

body#server_error #main_content h2 {
	background-image:       url(../images/error_500.gif);
}

body#timeout #main_content h2 {
	background-image:       url(../images/error_timeout.gif);
}

#searched_item {
	color:                  #fff;
	background-color: #990202;
}

#valid_search_suggestions li a:hover{
	color:                  #fff;
	background-color: #990202;
}
/* /Errors (404, 500, timeout, empty search results) */


/* Facebox */
#facebox * {
	background:             transparent url(../images/facebox_bg.gif) top left;
}

#facebox {
	background:             none;
}
/* /Facebox */


/* Footer */
#footer {
	background:             #111 url(../images/footer_background.gif) top repeat-x;
}

#footer p, #footer strong, #footer h6 {
	color:				        	#666;
}

/* /Footer */



/* Text */
.text dt, 
.text #main_content strong {
	color:                  #FFF;
  background-color:       #990202;
}

.text dt a, .text dt a:hover {
  color:                  #FFF;
}

code {
  color:                  #EEE;
}

.text table * {
  border-color:           #990202;
}

.text th {
  color:                  #FFF;
  background:             #444;
}

.text td span {
  color:                  #555  ;
}

pre {
  border-color:           #990202;
}
/* /Text */